body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
}

fieldset {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 40px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}